*{
  margin:0;
  padding:0;
  box-sizing:border-box; }

  .page{
    display: flex;
    flex-wrap: wrap;
  }

  .section{
    width: 100%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header{
    background-color: #050402;
    display:flex;
    justify-content: space-around;
    font-size: 40px;
    color:#fff;
  }

  .link a {
    text-decoration: none;
  }

  .link a:active{
    color:#63b521;
  }

  .link a:visited{
    color:#fff;
  }

  .link a:hover{
    color:#909090;
  }
