*{
  margin:0;
  padding:0;
  box-sizing:border-box; }

  .page{
    display: flex;
    flex-wrap: wrap;

  }

  .section{
    width: 100%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*sezione header*/
  .header{
    background-color: #050402;
    display:flex;
    justify-content: space-around;
    font-size: 40px;
    color:#fff;
  }

  .link a {
    text-decoration: none;
  }

  .link a:active{
    color:#63b521;
  }

  .link a:visited{
    color:#fff;
  }

  .link a:hover{
    color:#909090;
  }

  /*fine header*/

  /*content*/

  .content{
    height:3000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .about{
    width:100%;
    height:900px;
  }

  .about h1{
    font-size: 50px;
    text-align: center
  }

  .about p{
    font-size: 30px;
    text-align: justify;


  }

/*fine content*/

/*footer*/

.footer{
  background-color: #050402;
}

.introduction img{
  width: 100%;
}
