*{
  margin:0;
  padding:0;
  box-sizing:border-box; }

  .page{
    display: flex;
    flex-wrap: wrap;

  }

  .section{
    width: 100%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .title{
      font-size: 50px;
      text-align: center;
      margin-bottom:50px;
    }
  /*sezione header*/
  .header{
    background-color: #050402;
    display:flex;
    justify-content: space-around;
    font-size: 40px;
    color:#fff;
  }

  .link a {
    text-decoration: none;
  }

  .link a:active{
    color:#63b521;
  }

  .link a:visited{
    color:#fff;
  }

  .link a:hover{
    color:#909090;
  }

  /*fine header*/

  /*content*/

  .content{
    height:2500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .about{
    width:100%;
    height:900px;
  }

  .about p{
    font-size: 30px;
    line-height: 1.5em;
    margin:60px;
    text-align: justify;
  }

  .skils{
    width: 80%;
    height:1200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size:30px;
  }

  .list li{
    list-style: none;
    text-align: center;
  }

/*fine content*/

/*footer*/

.footer{
  background-color: #050402;
}
