*{
  margin:0;
  padding:0;
  box-sizing:border-box; }

  .page{
    display: flex;
    flex-wrap: wrap;

  }

  .section{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .title{
      font-size: 25px;
      text-align: center;
      margin-bottom:20px;
    }
  /*sezione header*/
  .header{
    background-color: #050402;
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    color:#fff;
  }

  .menu ul {
    width:100%; /* Dimensioni della barra del menu */
    padding:0;
    margin:0 auto;
    display:block;
    list-style-type:none; /* Stile della lista */
}

  .menu li {
    display:inline;
    padding:10px;
}

  .link a {
    text-decoration: none;
    color:#8bb9dd;

  }

  .link a:active{
    color:#63b521;
  }

  .link a:visited{
    color:#fff;
  }

  .link a:hover{
    color:#909090;
  }

  /*fine header*/

  /*content*/

  .content{
    height:3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .intro{
    width: 100%;
    height: 800px;
  }

  .intro img{
    width: 100%;
  }

  .animate__rotateIn{
    animation-duration: 2s;
  }

  .about{
    width:70%;
    height:1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .description p{
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
  }

  .bio{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


  }

  i{
    opacity: 0.5;

    margin-bottom:15px;

  }

  .info{
    margin-bottom:20px;
  }

  .skils{
    width: 100%;
    height:1600px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size:20px;
    padding:20px;


  }

  .list li{
    list-style: none;
    text-align: center;
    margin-bottom:30px;

  }

/*fine content*/

/*footer*/

.footer{
  width: 100%;
  height: 200px;
  background-color: #050402;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.social {
  width:60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.insta img{
  width:70px;
}

.face img{
  width:50px;
}

.in img{
  width: 40px;
}

.contact{
  display:flex;
  flex-direction: column;
  font-weight:bold;
  font-size:18px;
  text-align: center;
}

.phone{
  margin-top:20px;
  color:#a9d171;

}
