*{
  margin:0;
  padding:0;
  box-sizing:border-box; }

  .page{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
  }

  .section{
    width: 100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .title{

      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
}
  /*sezione header*/
  .header{

    display:flex;
    justify-content: space-around;
    font-size: 20px;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid grey;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    color:#2B2B2B ;

  }

  .menu ul {
    width:100%; /* Dimensioni della barra del menu */
    padding:0;
    margin:0 auto;
    display:block;
    list-style-type:none; /* Stile della lista */

}

  .menu li {
    display:inline;
    padding:10px;
}

  .link a {
    text-decoration: none;

  }

  .link a:active{
    color:#63b521;
  }

  .link a:visited{
    color:#2B2B2B;
  }

  .link a:hover{
    color:#909090;
    border:1px solid black;
  }

  /*fine header*/

  /*content*/

  .content{
    height:4000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /*content-intro*/
  .intro{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
  }

  .image img{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;

}

  .name{
    width: 50%;
    height:200px;
    display:flex;
    position: relative;
    z-index: 1;
    right:-170px;
    bottom:-150px;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    color:#2B2B2B;
    justify-content: space-around;
    font-weight: bolder;

  }

  .name h1 {
  font-size:60px;
  padding:2px;
  }

  .name h2{
    font-size:25px;
    border-top:1px solid #2B2B2B;
    border-bottom:1px solid #2B2B2B;
    padding:10px;

  }

/*content-about*/
  .about{
    width: 100%;
    height:1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom:40px;
  }


  .me{
    width:100%;
    border-radius:20px;

  }

  .me img  {

    width: 40%;
  }

  .description p{
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
    padding:30px;
  }

  .bio{
    width: 80%;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-left:2px solid #778899;
    border-bottom:2px solid #778899;
    border-top:1px solid #778899;
    border-right:1px solid #778899;
    border-radius:3px;
}

  i{
    opacity: 0.5;
    padding-right: 10px;
    margin-bottom:15px;

}

  .info{
    margin-bottom:30px;

}


/*content-education*/

.education{
width: 100%;
height:500px;
background-color:#F0F0F0 ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.school{
  width: 80%;
  height:350px;
  background-color:rgb(255,255,255);
  border:1px solid #778899;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top:40px;


}
.head{
  display:flex;
  flex-direction: row;
  padding: 10px;
}

.school p{
  text-align: center;
  padding:10px;
}







/*content-skils*/
  .skils{
    width: 100%;
    height:1500px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size:20px;
}
  .title{

  }
  .list li{
    list-style: none;
    text-align: center;
    margin-bottom:10px;
    padding:10px;
}

/*fine content*/

/*footer*/

.footer{
  width: 100%;
  height: 200px;
  background-color: #050402;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.social {
  width:60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.insta img{
  width:60px;
}

.face img{
  width:40px;
}

.in img{
  width: 30px;
}

.contact{
  display:flex;
  flex-direction: column;
  font-weight:bold;
  font-size:18px;
  text-align: center;
}

.phone{
  margin-top:20px;
  color:#a9d171;

}
