*{
  margin:0;
  padding:0;
  box-sizing:border-box; }

  .page{
    display: flex;
    flex-wrap: wrap;

  }

  .section{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .title{
      font-size: 50px;
      text-align: center;
      margin-bottom:50px;
    }
  /*sezione header*/
  .header{
    background-color: #050402;
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    color:#fff;
  }

  .link a {
    text-decoration: none;
    color:#8bb9dd;
  }

  .link a:active{
    color:#63b521;
  }

  .link a:visited{
    color:#fff;
  }

  .link a:hover{
    color:#909090;
  }

  /*fine header*/

  /*content*/

  .content{
    height:4000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .intro{
    width: 100%;
    height: 800px;
  }

  .intro img{
    width: 100%;
  }

  .about{
    width:100%;
    height:1000px;
  }

  .about p{
    font-size: 20px;
    line-height: 1.5em;
    margin:60px;
    text-align: justify;
  }

  .skils{
    width: 80%;
    height:2200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size:25px;
  }

  .list li{
    list-style: none;
    text-align: center;
  }

/*fine content*/

/*footer*/

.footer{
  width: 100%;
  height: 300px;
  background-color: #050402;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.social{
  width: 100%;
  display: flex;
  justify-content: center;
}

.insta img{
  width:70px;
  margin-left:20px;

}

.face img{
  width:50px;
  margin-top:10px;

}

.contact{
  display:flex;
  flex-direction: column;
  font-weight:bold;
  font-size:18px;
  text-align: center;
}

.phone{
  margin-top:20px;
  color:#a9d171;

}
